
.flex{
  
  display:flex;
  
  border: 5px solid rgb(1, 0, 0);
  border-radius: 15px;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:center;
  align-content:baseline;
}

body{
  background-color: rgb(0, 0, 0);
}
.js-score{
  text-align: center;
  color: aliceblue;
}
.js-move{
  text-align: center;
  color: aliceblue;
}
.js-result{
  text-align: center;
  color: aliceblue;
}
.harish{
  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
  cursor: pointer;
  
}
.reset{
  cursor: pointer;
  padding:10px;
  border-radius:25px;
  font-weight: bolder;
  font-size: large;
  border:solid blue;
}
.hi{
  cursor: pointer;
  background-color: black;
  border: none;
}

